---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>
      <span class="post-meta__tags tags"></span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
<body>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2134246"></script>
<!-- UY END -->
</body>

  <section class="post">
    {{ content }}
  </section>
</article>

